APP_ENV=local
JIRA_BASE_URL=
JIRA_EMAIL=
JIRA_API_TOKEN=
GITHUB_TOKEN=
DISABLE_EMBEDDINGS=false

# DATABASE_URL=postgresql+asyncpg://incident_user:incident_password@localhost:5432/incident_db

# During Migration with External Database URL
DATABASE_URL = 

# For the Render Web Service
INTERNAL_DATABASE_URL = 
